<!doctype html>
<html lang="fa">
  <head>
    <title style="font-size: 20px; font-weight: bold">تایید ایمیل</title>
  </head>
  <body>
    <h1>سلام {{ fullName }},</h1>
    <p>لطفا رمز پایین را در سایت وارد نمایید.</p>
    <div>
      {{ otp }}
    </div>
    <p>اگر شما درخواست این ایمیل را ندادید این ایمیل را نادیده بگیرید.</p>
  </body>
</html>
